---
layout: page
---

<style type="text/css" id="trx_addons-inline-styles-inline-css">
    .vc_custom_1549533673493 {
        padding-left: 3.2em !important;
    }
    .vc_custom_1549547666558 {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
        background-color: #f4f2ed !important;
    }
    .vc_custom_1546958102473 {
        background: #f7f7f7 url(assets/images/bread_crump_bg-copyright.jpg) !important;
        background-position: bottom center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .vc_custom_1547504123194 {
        background-image: url(assets/images/header-bg.png) !important;
        background-position: top left !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .vc_custom_1554198621272 {
        margin-left: 1.3em !important;
    }
    .vc_custom_1549547671474 {
        background-size: cover !important;
    }
    .vc_custom_1554458960912 {
        padding-top: 1.8em !important;
        padding-bottom: 1.9em !important;
        background-color: #1f1913 !important;
    }
    .vc_custom_1554459032508 {
        padding-top: 1.8em !important;
        padding-bottom: 1.9em !important;
        background-color: #1f1913 !important;
    }
    .vc_custom_1547044840472 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        background: #18120b url(assets/images/footer-bg-transparent-nocopyright.png) !important;
        background-position: bottom center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .vc_custom_1547043415219 {
        border-top-width: 1px !important;
        padding-top: 1.4em !important;
        padding-bottom: 2em !important;
        border-top-color: #302a24 !important;
        border-top-style: solid !important;
    }
    .vc_custom_1547047845880 {
        margin-top: -25px !important;
    }
	.wpb_animate_when_almost_visible {
		opacity: 1;
	}
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		float: left;
	}
</style>
<style type="text/css" data-type="vc_shortcodes-custom-css">
	.vc_custom_1548161166248 {
		background-image: url(assets/images/our_mission_action-copyright.jpg) !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}
	.vc_custom_1525792406229 {
		background-image: url(assets/images/bg_counters.jpg) !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}
	.vc_custom_1548155452861 {
		padding-right: 2em !important;
	}
	.vc_custom_1548161042653 {
		background-size: cover !important;
	}

</style>

{% include mission-page-top-content.html %}
{% include full-width-banner.html %}
{% include our-team.html %}

<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1525792406229 vc_row-has-fill shape_divider_top-none shape_divider_bottom-none">
	<div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="vc_empty_space" style="height: 95px;"><span class="vc_empty_space_inner"></span></div>
				<div id="sc_skills_975444181" class="sc_skills sc_skills_counter" data-type="counter">
					<div class="sc_skills_columns sc_item_columns trx_addons_columns_wrap columns_padding_bottom">
						<div class="sc_skills_column trx_addons_column-1_4">
							<div class="sc_skills_item_wrap">
								<div class="sc_skills_item">
									<div class="sc_skills_icon sc_icon_type_ icon-bullet-3"></div>
									<div class="sc_skills_total" data-start="0" data-stop="187" data-step="1" data-max="100" data-speed="16" data-duration="2992" data-ed="">0</div>
								</div>
								<div class="sc_skills_item_title">Protective Ammunition</div>
							</div>
						</div>
						<div class="sc_skills_column trx_addons_column-1_4">
							<div class="sc_skills_item_wrap">
								<div class="sc_skills_item">
									<div class="sc_skills_icon sc_icon_type_ icon-trainer"></div>
									<div class="sc_skills_total" data-start="0" data-stop="15" data-step="1" data-max="100" data-speed="10" data-duration="150" data-ed="">0</div>
								</div>
								<div class="sc_skills_item_title">Certified Instructors</div>
							</div>
						</div>
						<div class="sc_skills_column trx_addons_column-1_4">
							<div class="sc_skills_item_wrap">
								<div class="sc_skills_item">
									<div class="sc_skills_icon sc_icon_type_ icon-revolver"></div>
									<div class="sc_skills_total" data-start="0" data-stop="203" data-step="1" data-max="100" data-speed="37" data-duration="7511" data-ed="">0</div>
								</div>
								<div class="sc_skills_item_title">Weapons Selection</div>
							</div>
						</div>
						<div class="sc_skills_column trx_addons_column-1_4">
							<div class="sc_skills_item_wrap">
								<div class="sc_skills_item">
									<div class="sc_skills_icon sc_icon_type_ icon-paintball"></div>
									<div class="sc_skills_total" data-start="0" data-stop="3" data-step="1" data-max="100" data-speed="10" data-duration="30" data-ed="">0</div>
								</div>
								<div class="sc_skills_item_title">Area for Training</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vc_empty_space" style="height: 65px;"><span class="vc_empty_space_inner"></span></div>
			</div>
		</div>
	</div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>