<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1554568700182 vc_row-has-fill hide_bg_image_on_mobile shape_divider_top-none shape_divider_bottom-none scheme_dark">
    <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 12px;"><span class="vc_empty_space_inner"></span></div>
                <div id="sc_title_2032708164" class="sc_title sc_title_accent-no-sep image_link">
                    <h3 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_accent-no-sep image_link sc_item_title_tag">
                        <span class="sc_item_title_text">Try Our New Shooting Range</span>
                    </h3>
                    <span class="sc_item_subtitle sc_title_subtitle sc_align_center sc_item_subtitle_below sc_item_title_style_accent-no-sep image_link">
                        Sign up for our free trial shooting classes!
                    </span>
                    <div class="sc_title_button_image sc_item_button_image sc_align_center">
                        <a href="events/index.html">
                            <img decoding="async" src="/assets/uploads/2018/05/bullet-1-copyright.png" alt="Button&#039;s image" width="78" height="31" />
                        </a>
                    </div>
                </div>
                <!-- /.sc_title -->
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 12px;"><span class="vc_empty_space_inner"></span></div>
                <div id="sc_title_1305060585" class="sc_title sc_title_accent-no-sep image_link">
                    <h3 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_accent-no-sep image_link sc_item_title_tag">
                        <span class="sc_item_title_text">LARGE SELECTION OF GUNS</span>
                    </h3>
                    <span class="sc_item_subtitle sc_title_subtitle sc_align_center sc_item_subtitle_below sc_item_title_style_accent-no-sep image_link">
                        Welcome to one of the largest gun stores!
                    </span>
                    <div class="sc_title_button_image sc_item_button_image sc_align_center">
                        <a href="shop/index.html">
                            <img loading="lazy" decoding="async" src="/assets/uploads/2018/05/bullet-2-copyright.png" alt="Button&#039;s image" width="161" height="48" />
                        </a>
                    </div>
                </div>
                <!-- /.sc_title -->
            </div>
        </div>
    </div>
</div>