<div class="vc_column-inner">
    <div class="wpb_wrapper">
        <div class="vc_empty_space hide_on_wide hide_on_desktop hide_on_tablet hide_on_mobile" style="height: 9em;"><span class="vc_empty_space_inner"></span></div>
        <div id="sc_title_7687385" class="sc_title sc_title_accent vc_custom_1555339086922">
            <h2 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_accent">
                <span class="sc_item_title_text">
                    What Our Clients <br />
                    Say About Us
                </span>
            </h2>
            <span class="sc_item_subtitle sc_title_subtitle sc_align_left sc_item_subtitle_below sc_item_title_style_accent">
                We appreciate and value our clients` opinion greatly. We aspire to perfection by sharpening our training skills and improving the training facilities. Your
                feedback matters a lot to us and helps become better.
            </span>
        </div>
        <!-- /.sc_title -->
        <div class="vc_empty_space" style="height: 3.15em;"><span class="vc_empty_space_inner"></span></div>
        <div id="sc_testimonials_221009811" class="sc_testimonials sc_testimonials_default vc_custom_1554202746419">
            <div
                id="sc_testimonials_221009811_outer"
                class="sc_testimonials_slider sc_item_slider slider_swiper_outer slider_outer slider_outer_controls slider_outer_controls_bottom slider_outer_nopagination slider_outer_nocentered slider_outer_overflow_hidden slider_outer_one"
            >
                <div
                    id="sc_testimonials_221009811_swiper"
                    class="slider_container swiper-slider-container slider_swiper slider_noresize slider_controls slider_controls_bottom slider_nopagination slider_nocentered slider_overflow_hidden slider_one"
                    data-slides-min-width="290"
                    data-pagination="bullets"
                    data-mouse-wheel="0"
                    data-autoplay="1"
                    data-slides-centered="0"
                    data-slides-overflow="0"
                >
                    <div class="slides slider-wrapper swiper-wrapper sc_item_columns_1">
                        <div class="slider-slide swiper-slide">
                            <div class="sc_testimonials_item">
                                <div class="sc_testimonials_item_author_avatar">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        width="115"
                                        height="115"
                                        src="/assets/uploads/2018/05/1test-copyright-115x115.jpg"
                                        class="attachment-tacticool-thumb-tiny size-tacticool-thumb-tiny wp-post-image"
                                        alt="Robert Smith"
                                        srcset="
                                            /assets/uploads/2018/05/1test-copyright-115x115.jpg 115w,
                                            /assets/uploads/2018/05/1test-copyright-300x300.jpg 300w,
                                            /assets/uploads/2018/05/1test-copyright-150x150.jpg 150w,
                                            /assets/uploads/2018/05/1test-copyright-600x600.jpg 600w,
                                            /assets/uploads/2018/05/1test-copyright-768x768.jpg 768w,
                                            /assets/uploads/2018/05/1test-copyright-370x370.jpg 370w,
                                            /assets/uploads/2018/05/1test-copyright-760x760.jpg 760w,
                                            /assets/uploads/2018/05/1test-copyright-90x90.jpg    90w,
                                            /assets/uploads/2018/05/1test-copyright.jpg         900w
                                        "
                                        sizes="(max-width: 115px) 100vw, 115px"
                                    />
                                </div>
                                <div class="sc_testimonials_item_content">
                                    <p>If you are looking for a great instructor with an individual approach, this is the place you should try 100%</p>
                                </div>
                                <div class="sc_testimonials_item_author">
                                    <div class="sc_testimonials_item_author_data">
                                        <h4 class="sc_testimonials_item_author_title">Robert Smith</h4>
                                        <div class="sc_testimonials_item_author_subtitle">Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-slide swiper-slide">
                            <div class="sc_testimonials_item">
                                <div class="sc_testimonials_item_author_avatar">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        width="115"
                                        height="115"
                                        src="/assets/uploads/2018/05/2test-copyright-115x115.jpg"
                                        class="attachment-tacticool-thumb-tiny size-tacticool-thumb-tiny wp-post-image"
                                        alt="Jack Tompson"
                                        srcset="
                                            /assets/uploads/2018/05/2test-copyright-115x115.jpg 115w,
                                            /assets/uploads/2018/05/2test-copyright-300x300.jpg 300w,
                                            /assets/uploads/2018/05/2test-copyright-150x150.jpg 150w,
                                            /assets/uploads/2018/05/2test-copyright-600x601.jpg 600w,
                                            /assets/uploads/2018/05/2test-copyright-768x769.jpg 768w,
                                            /assets/uploads/2018/05/2test-copyright-370x370.jpg 370w,
                                            /assets/uploads/2018/05/2test-copyright-760x761.jpg 760w,
                                            /assets/uploads/2018/05/2test-copyright-90x90.jpg    90w,
                                            /assets/uploads/2018/05/2test-copyright.jpg         900w
                                        "
                                        sizes="(max-width: 115px) 100vw, 115px"
                                    />
                                </div>
                                <div class="sc_testimonials_item_content">
                                    <p>I liked how professional the trainers were. This experience was exactly what I needed to upgrade my skills</p>
                                </div>
                                <div class="sc_testimonials_item_author">
                                    <div class="sc_testimonials_item_author_data">
                                        <h4 class="sc_testimonials_item_author_title">Jack Tompson</h4>
                                        <div class="sc_testimonials_item_author_subtitle">Manager</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider_controls_wrap"><a class="slider_prev swiper-button-prev" href="#"></a><a class="slider_next swiper-button-next" href="#"></a></div>
            </div>
        </div>
        <!-- /.sc_testimonials -->
    </div>
</div>