<div id="sc_icons_1547581286" class="sc_icons sc_icons_icon-features sc_icons_size_small sc_align_center">
    <div class="sc_icons_columns_wrap sc_item_columns trx_addons_columns_wrap columns_padding_bottom">
        <div class="trx_addons_column-1_4">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-target"><span class="sc_icon_type_ icon-target"></span></div>
                <div class="sc_icons_item_details">
                    <p class="sc_icons_sub_title"><span>Fundamentals</span></p>
                    <h5 class="sc_icons_title">
                        <a href="services/shotgun-courses/index.html"> <span>Advanced Training</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>We give you a chance to live-fire practice in advanced shooting at all our facilities.</span></div>
                    <a href="services/shotgun-courses/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="trx_addons_column-1_4">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-revolver"><span class="sc_icon_type_ icon-revolver"></span></div>
                <div class="sc_icons_item_details">
                    <p class="sc_icons_sub_title"><span>Fundamentals</span></p>
                    <h5 class="sc_icons_title">
                        <a href="shop/index.html"> <span>Weapon Selection</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>The store that is available online and locally is full of weapon, tools, and accessories.</span></div>
                    <a href="shop/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="trx_addons_column-1_4">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-trainer"><span class="sc_icon_type_ icon-trainer"></span></div>
                <div class="sc_icons_item_details">
                    <p class="sc_icons_sub_title"><span>Fundamentals</span></p>
                    <h5 class="sc_icons_title">
                        <a href="team/index.html"> <span>Certified Instructors</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>The club employs people who make the shooting training safer and more effective.</span></div>
                    <a href="team/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="trx_addons_column-1_4">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-paintball"><span class="sc_icon_type_ icon-paintball"></span></div>
                <div class="sc_icons_item_details">
                    <p class="sc_icons_sub_title"><span>Fundamentals</span></p>
                    <h5 class="sc_icons_title">
                        <a href="our-courses/index.html"> <span>Great Training Area</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>We work with certified trainers only and guarantee a comfortable environment.</span></div>
                    <a href="our-courses/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.sc_icons -->