<div class="vc_row-full-width vc_clearfix"></div>
<div
    data-vc-full-width="true"
    data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1550747179977 vc_row-has-fill shape_divider_top-none shape_divider_bottom-none"
>
    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space hide_on_tablet hide_on_mobile" style="height: 8.6em;"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_empty_space hide_on_wide hide_on_desktop hide_on_notebook" style="height: 4.6em;"><span class="vc_empty_space_inner"></span></div>
                <div id="sc_action_1885762439" class="sc_action scheme_dark sc_action_default vc_custom_1554381287641">
                    <div class="sc_action_content sc_item_content">
                        <div class="sc_action_item sc_action_item_default sc_action_item_ml">
                            <h6 class="sc_action_item_subtitle"><span>we are powerful</span></h6>
                            <h3 class="sc_action_item_title"><span>The tactical skills to respond </span><span> with confidence</span></h3>
                            <div class="sc_action_item_description">
                                <span>Upgrade your skills or learn from scratch with the help of our shooting course program </span><span>developed by military trainers.</span>
                            </div>
                            <a href="our-mission/index.html" class="sc_action_item_link sc_button sc_button_size_large sc_button_with_icon sc_button_icon_right">
                                <span class="sc_button_icon"><span class="icon-target-3"></span></span> <span class="sc_button_text">more about us</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.sc_action -->
                <div class="vc_empty_space hide_on_wide hide_on_desktop hide_on_notebook" style="height: 5.6em;"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_empty_space hide_on_tablet hide_on_mobile" style="height: 9.6em;"><span class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>