<header class="top_panel top_panel_custom top_panel_custom_439 top_panel_custom_main-header without_bg_image">
    <div
        class="vc_row wpb_row vc_row-fluid vc_custom_1549533673493 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex shape_divider_top-none shape_divider_bottom-none sc_layouts_row sc_layouts_row_type_compact sc_layouts_row_fixed sc_layouts_hide_on_mobile"
    >
        <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-4 sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="sc_layouts_item">
                        <a href="index.html" id="sc_layouts_logo_302013865" class="sc_layouts_logo sc_layouts_logo_default">
                            <img class="logo_image" src="/assets/uploads/2018/05/logo-2.png" srcset="/assets/uploads/2018/05/retina-logo-2.png 2x" alt="Tacticool" width="155" height="69" />
                        </a>

                        <!-- /.sc_layouts_logo -->
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-7 vc_col-xs-4 sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="sc_layouts_item">
                        <nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_fade hide_on_mobile" id="sc_layouts_menu_508990910" data-animation-in="none" data-animation-out="none">
                            <ul id="sc_layouts_menu_1208263687" class="sc_layouts_menu_nav">
                                <li id="menu-item-162" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162">
                                    <a href="#"><span>Home</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-366 current_page_item menu-item-387">
                                            <a href="index.html" aria-current="page"><span>Home 1</span></a>
                                        </li>
                                        <li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-389">
                                            <a href="index.html"><span>Home 2</span></a>
                                        </li>
                                        <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                                            <a href="home-boxed/index.html"><span>Home Boxed</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-163">
                                    <a href="#"><span>Features</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                                            <a href="typography/index.html"><span>Typography</span></a>
                                        </li>
                                        <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                                            <a href="shortcodes/index.html"><span>Shortcodes</span></a>
                                        </li>
                                        <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
                                            <a href="service-plus/index.html"><span>Service Plus</span></a>
                                        </li>
                                        <li id="menu-item-1198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1198">
                                            <a href="privacy-policy/index.html"><span>Privacy Policy</span></a>
                                        </li>
                                        <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                                            <a href="gallery/index.html"><span>Gallery</span></a>
                                        </li>
                                        <li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171">
                                            <a href="#"><span>Blog</span></a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172">
                                                    <a href="all-posts/index.html"><span>All Posts</span></a>
                                                </li>
                                                <li id="menu-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-173">
                                                    <a href="#"><span>Classic Style</span></a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174">
                                                            <a href="blog-classic-2-columns/index.html"><span>2 Columns</span></a>
                                                        </li>
                                                        <li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175">
                                                            <a href="blog-classic-3-columns/index.html"><span>3 Columns</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-176">
                                                    <a href="#"><span>Portfolio Style</span></a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177">
                                                            <a href="blog-portfolio-2-columns/index.html"><span>2 Columns</span></a>
                                                        </li>
                                                        <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178">
                                                            <a href="blog-portfolio-3-columns/index.html"><span>3 Columns</span></a>
                                                        </li>
                                                        <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179">
                                                            <a href="blog-portfolio-4-columns/index.html"><span>4 Columns</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-180">
                                                    <a href="#"><span>Chess Style</span></a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181">
                                                            <a href="blog-chess-1-column/index.html"><span>1 Column</span></a>
                                                        </li>
                                                        <li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                                                            <a href="blog-chess-2-columns/index.html"><span>2 Columns</span></a>
                                                        </li>
                                                        <li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183">
                                                            <a href="blog-chess-3-columns/index.html"><span>3 Columns</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-238">
                                    <a href="#"><span>About</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320">
                                            <a href="our-mission/index.html"><span>Our Mission</span></a>
                                        </li>
                                        <li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321">
                                            <a href="our-history/index.html"><span>Our History</span></a>
                                        </li>
                                        <li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262">
                                            <a href="our-courses/index.html"><span>Our Courses</span></a>
                                        </li>
                                        <li id="menu-item-278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
                                            <a href="the-ranges/index.html"><span>The Ranges</span></a>
                                        </li>
                                        <li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263">
                                            <a href="event/index.html"><span>Events</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                    <a href="our-services/index.html"><span>Services</span></a>
                                </li>
                                <li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                                    <a href="shop/index.html"><span>Store</span></a>
                                </li>
                                <li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184">
                                    <a href="contacts/index.html"><span>Contacts</span></a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.sc_layouts_menu -->
                        <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                            <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                                <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-4 vc_col-has-fill sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left">
            <div class="vc_column-inner vc_custom_1547504123194">
                <div class="wpb_wrapper">
                    <div class="sc_layouts_item">
                        <div id="sc_layouts_search_1844024918" class="sc_layouts_search">
                            <div class="search_wrap search_style_fullscreen search_ajax layouts_search">
                                <div class="search_form_wrap">
                                    <form role="search" method="get" class="search_form" action="index.html">
                                        <input type="hidden" value="" name="post_types" />
                                        <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                                        <button type="submit" class="search_submit trx_addons_icon-search"></button>
                                        <a class="search_close trx_addons_icon-delete"></a>
                                    </form>
                                </div>
                                <div class="search_results widget_area">
                                    <a href="#" class="search_results_close trx_addons_icon-cancel"></a>
                                    <div class="search_results_content"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.sc_layouts_search -->
                    </div>
                    <div class="sc_layouts_item">
                        <div id="sc_layouts_cart_330192296" class="sc_layouts_cart">
                            <span class="sc_layouts_item_icon sc_layouts_cart_icon sc_icons_type_icons trx_addons_icon-basket"></span>
                            <span class="sc_layouts_item_details sc_layouts_cart_details">
                                <span class="sc_layouts_item_details_line1 sc_layouts_cart_label">ioio88</span>
                                <span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
                                    <span class="sc_layouts_cart_items">0 items</span>
                                    -
                                    <span class="sc_layouts_cart_summa">&#36;0.00</span>
                                </span>
                            </span>
                            <!-- /.sc_layouts_cart_details -->
                            <span class="sc_layouts_cart_items_short">0</span>
                            <div class="sc_layouts_cart_widget widget_area">
                                <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel"></span>
                                <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>
                            </div>
                            <!-- /.sc_layouts_cart_widget -->
                        </div>
                        <!-- /.sc_layouts_cart -->
                    </div>
                    <div class="sc_layouts_item">
                        <div id="sc_button_292864560" class="sc_item_button sc_button_wrap sc_align_right vc_custom_1554198621272">
                            <a href="events/index.html" class="sc_button hide_on_mobile hide_on_tablet sc_button_default sc_button_size_small sc_button_icon_left color_style_link2">
                                <span class="sc_button_text"><span class="sc_button_title">Free Trial Training </span></span>
                                <!-- /.sc_button_text -->
                            </a>
                            <!-- /.sc_button -->
                        </div>
                        <!-- /.sc_item_button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="vc_row wpb_row vc_row-fluid vc_custom_1549547666558 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex shape_divider_top-none shape_divider_bottom-none sc_layouts_row sc_layouts_row_type_compact sc_layouts_row_fixed sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet"
    >
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-5 sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="sc_layouts_item">
                        <a href="index.html" id="sc_layouts_logo_838971085" class="sc_layouts_logo sc_layouts_logo_default">
                            <img class="logo_image" src="/assets/uploads/2018/05/logo-2.png" srcset="/assets/uploads/2018/05/retina-logo-2.png 2x" alt="Tacticool" width="155" height="69" />
                        </a>

                        <!-- /.sc_layouts_logo -->
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-7 vc_col-has-fill sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
            <div class="vc_column-inner vc_custom_1549547671474">
                <div class="wpb_wrapper">
                    <div class="sc_layouts_item">
                        <div id="sc_layouts_cart_1808390791" class="sc_layouts_cart">
                            <span class="sc_layouts_item_icon sc_layouts_cart_icon sc_icons_type_icons trx_addons_icon-basket"></span>
                            <span class="sc_layouts_item_details sc_layouts_cart_details">
                                <span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
                                    <span class="sc_layouts_cart_items">0 items</span>
                                    -
                                    <span class="sc_layouts_cart_summa">&#36;0.00</span>
                                </span>
                            </span>
                            <!-- /.sc_layouts_cart_details -->
                            <span class="sc_layouts_cart_items_short">0</span>
                            <div class="sc_layouts_cart_widget widget_area">
                                <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel"></span>
                                <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>
                            </div>
                            <!-- /.sc_layouts_cart_widget -->
                        </div>
                        <!-- /.sc_layouts_cart -->
                    </div>
                    <div class="sc_layouts_item">
                        <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                            <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                                <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="menu_mobile_overlay"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
    <div class="menu_mobile_inner">
        <a class="menu_mobile_close icon-cancel"></a>
        <a class="sc_layouts_logo" href="index.html"> <img src="/assets/uploads/2018/05/logo-3.png" srcset="/assets/uploads/2018/05/retina-logo-3-300x134.png" alt="Tacticool" width="155" height="69" /> </a>
        <nav class="menu_mobile_nav_area" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul id="menu_mobile_1545967986">
                <li id="menu_mobile-item-162" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162">
                    <a href="#"><span>Home</span></a>
                    <ul class="sub-menu">
                        <li id="menu_mobile-item-387" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-366 current_page_item menu-item-387">
                            <a href="index.html" aria-current="page"><span>Home 1</span></a>
                        </li>
                        <li id="menu_mobile-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-389">
                            <a href="index.html"><span>Home 2</span></a>
                        </li>
                        <li id="menu_mobile-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                            <a href="home-boxed/index.html"><span>Home Boxed</span></a>
                        </li>
                    </ul>
                </li>
                <li id="menu_mobile-item-163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-163">
                    <a href="#"><span>Features</span></a>
                    <ul class="sub-menu">
                        <li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                            <a href="typography/index.html"><span>Typography</span></a>
                        </li>
                        <li id="menu_mobile-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                            <a href="shortcodes/index.html"><span>Shortcodes</span></a>
                        </li>
                        <li id="menu_mobile-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
                            <a href="service-plus/index.html"><span>Service Plus</span></a>
                        </li>
                        <li id="menu_mobile-item-1198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1198">
                            <a href="privacy-policy/index.html"><span>Privacy Policy</span></a>
                        </li>
                        <li id="menu_mobile-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                            <a href="gallery/index.html"><span>Gallery</span></a>
                        </li>
                        <li id="menu_mobile-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171">
                            <a href="#"><span>Blog</span></a>
                            <ul class="sub-menu">
                                <li id="menu_mobile-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172">
                                    <a href="all-posts/index.html"><span>All Posts</span></a>
                                </li>
                                <li id="menu_mobile-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-173">
                                    <a href="#"><span>Classic Style</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu_mobile-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174">
                                            <a href="blog-classic-2-columns/index.html"><span>2 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175">
                                            <a href="blog-classic-3-columns/index.html"><span>3 Columns</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_mobile-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-176">
                                    <a href="#"><span>Portfolio Style</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu_mobile-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177">
                                            <a href="blog-portfolio-2-columns/index.html"><span>2 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178">
                                            <a href="blog-portfolio-3-columns/index.html"><span>3 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179">
                                            <a href="blog-portfolio-4-columns/index.html"><span>4 Columns</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_mobile-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-180">
                                    <a href="#"><span>Chess Style</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu_mobile-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181">
                                            <a href="blog-chess-1-column/index.html"><span>1 Column</span></a>
                                        </li>
                                        <li id="menu_mobile-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                                            <a href="blog-chess-2-columns/index.html"><span>2 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183">
                                            <a href="blog-chess-3-columns/index.html"><span>3 Columns</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="menu_mobile-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-238">
                    <a href="#"><span>About</span></a>
                    <ul class="sub-menu">
                        <li id="menu_mobile-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320">
                            <a href="our-mission/index.html"><span>Our Mission</span></a>
                        </li>
                        <li id="menu_mobile-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321">
                            <a href="our-history/index.html"><span>Our History</span></a>
                        </li>
                        <li id="menu_mobile-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262">
                            <a href="our-courses/index.html"><span>Our Courses</span></a>
                        </li>
                        <li id="menu_mobile-item-278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
                            <a href="the-ranges/index.html"><span>The Ranges</span></a>
                        </li>
                        <li id="menu_mobile-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263">
                            <a href="event/index.html"><span>Events</span></a>
                        </li>
                    </ul>
                </li>
                <li id="menu_mobile-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                    <a href="our-services/index.html"><span>Services</span></a>
                </li>
                <li id="menu_mobile-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                    <a href="shop/index.html"><span>Store</span></a>
                </li>
                <li id="menu_mobile-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184">
                    <a href="contacts/index.html"><span>Contacts</span></a>
                </li>
            </ul>
        </nav>
        <div class="search_wrap search_style_normal search_mobile">
            <div class="search_form_wrap">
                <form role="search" method="get" class="search_form" action="index.html">
                    <input type="hidden" value="" name="post_types" />
                    <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                    <button type="submit" class="search_submit trx_addons_icon-search"></button>
                </form>
            </div>
        </div>
        <div class="socials_mobile">
            <a target="_blank" href="https://www.facebook.com/AxiomThemes-505060569826537/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span>
            </a>
            <a target="_blank" href="https://twitter.com/ThemesAxiom" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span>
            </a>
            <a target="_blank" href="https://www.instagram.com/axiom_themes/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_instagramm"><span class="icon-instagramm"></span></span>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCBjqhuwKj3MfE3B6Hg2oA8Q" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_youtube-1"><span class="icon-youtube-1"></span></span>
            </a>
        </div>
    </div>
</div>