<div class="vc_row wpb_row vc_row-fluid shape_divider_top-none shape_divider_bottom-none">
    <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner vc_custom_1548155452861">
            <div class="wpb_wrapper">
                <div class="vc_empty_space hide_on_mobile" style="height: 66px;"><span class="vc_empty_space_inner"></span></div>
                <div id="sc_title_1659856176" class="sc_title sc_title_accent">
                    <h2 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_accent">
                        <span class="sc_item_title_text">
                            Learn the Technique with <br />
                            Our Experts
                        </span>
                    </h2>
                    <div class="sc_item_descr sc_title_descr sc_align_left">
                        <p>Our goal is to empower our clients — beginners, enthusiasts, agencies and corporations — through safety, education, and professional training.</p>
                        <p>We aim to equip our clients with the tools and resources they need to excel in any shooting discipline: for recreation, for competition and for personal protection</p>
                    </div>
                </div>
                <!-- /.sc_title -->
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper"></div>
                </div>
                <div class="vc_empty_space" style="height: 26px;"><span class="vc_empty_space_inner"></span></div>
                <div id="widget_socials_382372228" class="widget_area sc_widget_socials vc_widget_socials wpb_content_element">
                    <aside id="widget_socials_382372228_widget" class="widget widget_socials">
                        <div class="socials_wrap sc_align_left">
                            <a target="_blank" href="https://www.facebook.com/AxiomThemes-505060569826537/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                                <span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span>
                            </a>
                            <a target="_blank" href="https://twitter.com/ThemesAxiom" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                                <span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span>
                            </a>
                            <a target="_blank" href="https://www.instagram.com/axiom_themes/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                                <span class="social_icon social_icon_instagramm"><span class="icon-instagramm"></span></span>
                            </a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCBjqhuwKj3MfE3B6Hg2oA8Q" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                                <span class="social_icon social_icon_youtube-1"><span class="icon-youtube-1"></span></span>
                            </a>
                        </div>
                    </aside>
                </div>
                <div class="vc_empty_space hide_on_wide hide_on_desktop hide_on_notebook" style="height: 66px;"><span class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_left">
                    <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                            <img
                                fetchpriority="high"
                                decoding="async"
                                width="570"
                                height="551"
                                src="assets/images/img_about-copyright.png"
                                class="vc_single_image-img attachment-full"
                                alt=""
                                title="img_about-copyright"
                                srcset="assets/images/img_about-copyright.png 570w,
                                    assets/images/img_about-copyright-450x435.png 450w,
                                    assets/images/img_about-copyright-300x290.png 300w,
                                    assets/images/img_about-copyright-370x358.png 370w"
                                sizes="(max-width: 570px) 100vw, 570px"
                            />
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wpb_wrapper">
    <div class="vc_empty_space sc_height_huge" style="height: 0px;"><span class="vc_empty_space_inner"></span></div>
</div>