<div class="menu_mobile_overlay"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
    <div class="menu_mobile_inner">
        <a class="menu_mobile_close icon-cancel"></a>
        <a class="sc_layouts_logo" href="index.html"> <img src="/assets/uploads/2018/05/logo-3.png" srcset="/assets/uploads/2018/05/retina-logo-3-300x134.png" alt="Tacticool" width="155" height="69" /> </a>
        <nav class="menu_mobile_nav_area" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul id="menu_mobile_1545967986">
                <li id="menu_mobile-item-162" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162">
                    <a href="#"><span>Home</span></a>
                    <ul class="sub-menu">
                        <li id="menu_mobile-item-387" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-366 current_page_item menu-item-387">
                            <a href="index.html" aria-current="page"><span>Home 1</span></a>
                        </li>
                        <li id="menu_mobile-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-389">
                            <a href="index.html"><span>Home 2</span></a>
                        </li>
                        <li id="menu_mobile-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                            <a href="home-boxed/index.html"><span>Home Boxed</span></a>
                        </li>
                    </ul>
                </li>
                <li id="menu_mobile-item-163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-163">
                    <a href="#"><span>Features</span></a>
                    <ul class="sub-menu">
                        <li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                            <a href="typography/index.html"><span>Typography</span></a>
                        </li>
                        <li id="menu_mobile-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                            <a href="shortcodes/index.html"><span>Shortcodes</span></a>
                        </li>
                        <li id="menu_mobile-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
                            <a href="service-plus/index.html"><span>Service Plus</span></a>
                        </li>
                        <li id="menu_mobile-item-1198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1198">
                            <a href="privacy-policy/index.html"><span>Privacy Policy</span></a>
                        </li>
                        <li id="menu_mobile-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                            <a href="gallery/index.html"><span>Gallery</span></a>
                        </li>
                        <li id="menu_mobile-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171">
                            <a href="#"><span>Blog</span></a>
                            <ul class="sub-menu">
                                <li id="menu_mobile-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172">
                                    <a href="all-posts/index.html"><span>All Posts</span></a>
                                </li>
                                <li id="menu_mobile-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-173">
                                    <a href="#"><span>Classic Style</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu_mobile-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174">
                                            <a href="blog-classic-2-columns/index.html"><span>2 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175">
                                            <a href="blog-classic-3-columns/index.html"><span>3 Columns</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_mobile-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-176">
                                    <a href="#"><span>Portfolio Style</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu_mobile-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177">
                                            <a href="blog-portfolio-2-columns/index.html"><span>2 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178">
                                            <a href="blog-portfolio-3-columns/index.html"><span>3 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179">
                                            <a href="blog-portfolio-4-columns/index.html"><span>4 Columns</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_mobile-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-180">
                                    <a href="#"><span>Chess Style</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu_mobile-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181">
                                            <a href="blog-chess-1-column/index.html"><span>1 Column</span></a>
                                        </li>
                                        <li id="menu_mobile-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                                            <a href="blog-chess-2-columns/index.html"><span>2 Columns</span></a>
                                        </li>
                                        <li id="menu_mobile-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183">
                                            <a href="blog-chess-3-columns/index.html"><span>3 Columns</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="menu_mobile-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-238">
                    <a href="#"><span>About</span></a>
                    <ul class="sub-menu">
                        <li id="menu_mobile-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320">
                            <a href="our-mission/index.html"><span>Our Mission</span></a>
                        </li>
                        <li id="menu_mobile-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321">
                            <a href="our-history/index.html"><span>Our History</span></a>
                        </li>
                        <li id="menu_mobile-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262">
                            <a href="our-courses/index.html"><span>Our Courses</span></a>
                        </li>
                        <li id="menu_mobile-item-278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
                            <a href="the-ranges/index.html"><span>The Ranges</span></a>
                        </li>
                        <li id="menu_mobile-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263">
                            <a href="event/index.html"><span>Events</span></a>
                        </li>
                    </ul>
                </li>
                <li id="menu_mobile-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                    <a href="our-services/index.html"><span>Services</span></a>
                </li>
                <li id="menu_mobile-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                    <a href="shop/index.html"><span>Store</span></a>
                </li>
                <li id="menu_mobile-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184">
                    <a href="contacts/index.html"><span>Contacts</span></a>
                </li>
            </ul>
        </nav>
        <div class="search_wrap search_style_normal search_mobile">
            <div class="search_form_wrap">
                <form role="search" method="get" class="search_form" action="index.html">
                    <input type="hidden" value="" name="post_types" />
                    <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                    <button type="submit" class="search_submit trx_addons_icon-search"></button>
                </form>
            </div>
        </div>
        <div class="socials_mobile">
            <a target="_blank" href="https://www.facebook.com/AxiomThemes-505060569826537/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span>
            </a>
            <a target="_blank" href="https://twitter.com/ThemesAxiom" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span>
            </a>
            <a target="_blank" href="https://www.instagram.com/axiom_themes/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_instagramm"><span class="icon-instagramm"></span></span>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCBjqhuwKj3MfE3B6Hg2oA8Q" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_youtube-1"><span class="icon-youtube-1"></span></span>
            </a>
        </div>
    </div>
</div>