<div class="menu_mobile_overlay"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
    <div class="menu_mobile_inner">
        <a class="menu_mobile_close icon-cancel"></a>
        <a class="sc_layouts_logo" href="/">
            <img src="/assets/images/landscape-white.webp" alt="{{ site.data.general_settings.site_name }}" width="155" height="69" />
        </a>
        <nav class="menu_mobile_nav_area" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul id="menu_mobile_latactical">
                {% for item in site.data.site_navigation.site_primary_menu %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="{{ item.menu_url }}"><span>{{ item.menu_title }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="socials_mobile">
            {% for social in site.data.general_settings.social %}
            <a target="_blank" rel="noopener" href="{{ social.link }}" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons">
                <span class="social_icon social_icon_{{ social.icon }}"><span class="icon-{{ social.icon }}"></span></span>
            </a>
            {% endfor %}
        </div>
        <div style="padding: 1.5em 0; font-size: 0.95em; opacity: 0.8;">
            <p style="margin:0;"><a href="tel:+1{{ site.data.general_settings.phone | remove: '-' }}" style="color:inherit;">{{ site.data.general_settings.phone }}</a></p>
            <p style="margin:0.4em 0 0;"><a href="mailto:{{ site.data.general_settings.email }}" style="color:inherit;">{{ site.data.general_settings.email }}</a></p>
        </div>
    </div>
</div>
