<div class="wpb_wrapper">
    <div class="vc_empty_space sc_height_huge" style="height: 32px;"><span class="vc_empty_space_inner"></span></div>
    <div id="sc_team_1374057718" class="sc_team sc_team_short">
        <h2 class="sc_item_title sc_team_title sc_align_center sc_item_title_style_accent"><span class="sc_item_title_text">Our Tactical Staff</span></h2>
        <span class="sc_item_subtitle sc_team_subtitle sc_align_center sc_item_subtitle_below sc_item_title_style_accent">
            Meet the people who are involved in making the shooting training safer and more effective. We work with certified trainers only and guarantee a comfortable practice
            environment.
        </span>
        <div class="sc_team_columns_wrap sc_item_columns sc_item_posts_container trx_addons_columns_wrap columns_padding_bottom">
            <div class="trx_addons_column-1_2">
                <div class="sc_team_item no_links post-300 cpt_team type-cpt_team status-publish has-post-thumbnail hentry">
                    <div class="post_featured with_thumb hover_icon sc_team_item_thumb" style="background-image: url(/assets/uploads/2018/05/team-2-copyright-300x300.png);">
                        <div class="mask"></div>
                        <div class="icons"><a href="team/peter-jackson/index.html" aria-hidden="true" class="icon-target-3"></a></div>
                    </div>
                    <div class="sc_team_item_info">
                        <div class="sc_team_item_header">
                            <h4 class="sc_team_item_title"><a href="team/peter-jackson/index.html">Peter Jackson</a></h4>
                            <div class="sc_team_item_subtitle">CEO, Founder</div>
                        </div>
                        <div class="sc_team_item_content"><p>Meet the CEO of our shooting club, who is an experienced pro.</p></div>
                        <div class="sc_team_item_socials socials_wrap"></div>
                    </div>
                </div>
            </div>
            <div class="trx_addons_column-1_2">
                <div class="sc_team_item no_links post-297 cpt_team type-cpt_team status-publish has-post-thumbnail hentry">
                    <div class="post_featured with_thumb hover_icon sc_team_item_thumb" style="background-image: url(/assets/uploads/2018/05/team-1-copyright-300x300.png);">
                        <div class="mask"></div>
                        <div class="icons"><a href="team/steven-jones/index.html" aria-hidden="true" class="icon-target-3"></a></div>
                    </div>
                    <div class="sc_team_item_info">
                        <div class="sc_team_item_header">
                            <h4 class="sc_team_item_title"><a href="team/steven-jones/index.html">Steven Jones</a></h4>
                            <div class="sc_team_item_subtitle">Instructor</div>
                        </div>
                        <div class="sc_team_item_content"><p>An expert instructor, who can turn a newbie into a great shooter.</p></div>
                        <div class="sc_team_item_socials socials_wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.sc_team -->
    <div class="vc_empty_space hide_on_tablet hide_on_mobile" style="height: 6.7em;"><span class="vc_empty_space_inner"></span></div>
    <div class="vc_empty_space hide_on_wide hide_on_desktop hide_on_notebook sc_height_huge" style="height: 32px;"><span class="vc_empty_space_inner"></span></div>
</div>