<div class="vc_column-inner">
    <div class="wpb_wrapper">
        <div class="vc_empty_space sc_height_huge" style="height: 32px;"><span class="vc_empty_space_inner"></span></div>
        <div id="sc_title_1747262832" class="sc_title sc_title_accent">
            <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_accent"><span class="sc_item_title_text">Our News & Updates</span></h2>
            <span class="sc_item_subtitle sc_title_subtitle sc_align_center sc_item_subtitle_below sc_item_title_style_accent">
                In our blog, we post regular news about the facilities, trainers, events etc. Follow us to stay ahead of all the updates, as well as many useful tips for weapon keeping and
                handling.
            </span>
        </div>
        <!-- /.sc_title -->
        <div class="vc_empty_space" style="height: 18px;"><span class="vc_empty_space_inner"></span></div>
        <div id="widget_recent_news_1473841710" class="sc_recent_news sc_recent_news_style_news-magazine sc_recent_news_with_accented">
            <div class="sc_recent_news_columns_wrap trx_addons_columns_wrap">
                <div class="trx_addons_column-1_2">
                    <article
                        class="post_item post_layout_news-magazine post_format_standard post_accented_on post-96 post type-post status-publish format-standard has-post-thumbnail hentry category-news-updates tag-shooting tag-training"
                    >
                        <div class="post_featured with_thumb hover_icon">
                            <img
                                loading="lazy"
                                decoding="async"
                                width="570"
                                height="525"
                                src="/assets/uploads/2018/05/post-3-copyright-570x525.jpg"
                                class="attachment-tacticool-thumb-recent size-tacticool-thumb-recent wp-post-image"
                                alt=""
                            />
                            <div class="mask"></div>
                            <div class="icons"><a href="tired-of-shooting-at-static-targets-at-the-range/index.html" aria-hidden="true" class="icon-target-3"></a></div>
                            <span class="post_categories post_meta_item"><a href="category/news-updates/index.html" title="View all posts in News &amp; Updates">News &amp; Updates</a></span>
                            <div class="post_info scheme_dark">
                                <span class="post_date"><a href="tired-of-shooting-at-static-targets-at-the-range/index.html">May 7, 2018</a></span>
                                <h3 class="post_title entry-title">
                                    <a href="tired-of-shooting-at-static-targets-at-the-range/index.html" rel="bookmark">Tired of shooting at static targets at the range?</a>
                                </h3>
                                <div class="sc_item_button">
                                    <a
                                        href="tired-of-shooting-at-static-targets-at-the-range/index.html"
                                        class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left"
                                    >
                                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="trx_addons_column-1_2">
                    <article
                        class="post_item post_layout_news-magazine post_format_standard post_accented_off post-98 post type-post status-publish format-standard has-post-thumbnail hentry category-news-updates tag-news tag-weapon"
                    >
                        <div class="post_featured with_thumb hover_icon">
                            <img
                                loading="lazy"
                                decoding="async"
                                width="300"
                                height="300"
                                src="/assets/uploads/2018/05/post-4-copyright-300x300.jpg"
                                class="attachment-tacticool-thumb-team size-tacticool-thumb-team wp-post-image"
                                alt=""
                                srcset="
                                    /assets/uploads/2018/05/post-4-copyright-300x300.jpg 300w,
                                    /assets/uploads/2018/05/post-4-copyright-150x150.jpg 150w,
                                    /assets/uploads/2018/05/post-4-copyright-115x115.jpg 115w,
                                    /assets/uploads/2018/05/post-4-copyright-370x370.jpg 370w,
                                    /assets/uploads/2018/05/post-4-copyright-90x90.jpg    90w
                                "
                                sizes="(max-width: 300px) 100vw, 300px"
                            />
                            <div class="mask"></div>
                            <div class="icons"><a href="mapping-the-main-processes-theory-lessons/index.html" aria-hidden="true" class="icon-target-3"></a></div>
                        </div>
                        <div class="post_header entry-header">
                            <div class="post_meta">
                                <span class="post_date"><a href="mapping-the-main-processes-theory-lessons/index.html">May 4, 2018</a></span>
                            </div>
                            <h4 class="post_title entry-title">
                                <a href="mapping-the-main-processes-theory-lessons/index.html" rel="bookmark">Mapping the Main Processes &#038; Theory Lessons</a>
                            </h4>
                            <div class="sc_item_button">
                                <a
                                    href="mapping-the-main-processes-theory-lessons/index.html"
                                    class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left"
                                >
                                    <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                                </a>
                            </div>
                        </div>
                        <!-- .entry-header -->
                    </article>
                    <article
                        class="post_item post_layout_news-magazine post_format_standard post_accented_off post-100 post type-post status-publish format-standard has-post-thumbnail hentry category-news-updates tag-guns tag-targets"
                    >
                        <div class="post_featured with_thumb hover_icon">
                            <img
                                loading="lazy"
                                decoding="async"
                                width="300"
                                height="300"
                                src="/assets/uploads/2018/05/post-5-copyright-300x300.jpg"
                                class="attachment-tacticool-thumb-team size-tacticool-thumb-team wp-post-image"
                                alt=""
                                srcset="
                                    /assets/uploads/2018/05/post-5-copyright-300x300.jpg 300w,
                                    /assets/uploads/2018/05/post-5-copyright-150x150.jpg 150w,
                                    /assets/uploads/2018/05/post-5-copyright-115x115.jpg 115w,
                                    /assets/uploads/2018/05/post-5-copyright-370x370.jpg 370w,
                                    /assets/uploads/2018/05/post-5-copyright-90x90.jpg    90w
                                "
                                sizes="(max-width: 300px) 100vw, 300px"
                            />
                            <div class="mask"></div>
                            <div class="icons"><a href="all-types-of-bullets-and-weapon-cleaning/index.html" aria-hidden="true" class="icon-target-3"></a></div>
                        </div>
                        <div class="post_header entry-header">
                            <div class="post_meta">
                                <span class="post_date"><a href="all-types-of-bullets-and-weapon-cleaning/index.html">April 30, 2018</a></span>
                            </div>
                            <h4 class="post_title entry-title"><a href="all-types-of-bullets-and-weapon-cleaning/index.html" rel="bookmark">All Types of Bullets and Weapon Cleaning</a></h4>
                            <div class="sc_item_button">
                                <a
                                    href="all-types-of-bullets-and-weapon-cleaning/index.html"
                                    class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left"
                                >
                                    <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                                </a>
                            </div>
                        </div>
                        <!-- .entry-header -->
                    </article>
                </div>
            </div>
            <!-- /.columns_wrap -->
        </div>
        <!-- /.sc_recent_news -->
        <div class="vc_empty_space hide_on_tablet hide_on_mobile" style="height: 6em;"><span class="vc_empty_space_inner"></span></div>
        <div class="vc_empty_space hide_on_wide hide_on_desktop hide_on_notebook sc_height_huge" style="height: 0px;"><span class="vc_empty_space_inner"></span></div>
    </div>
</div>