<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background: transparent; padding: 0;">
    <rs-module id="rev_slider_1_1" style="" data-version="6.6.18">
        <rs-slides style="overflow: hidden; position: absolute;">
            <rs-slide
                style="position: absolute;"
                data-key="rs-1"
                data-title="slide"
                data-thumb="/assets/images/slider_bg-copyright-100x50.jpg"
                data-anim="ms:2000;r:0;"
                data-in="o:0;sx:0.6;sy:0.6;e:power4.inOut;"
                data-out="o:0;sx:1.6;sy:1.6;e:power4.inOut;"
                class="scheme_dark"
            >
                <img
                    decoding="async"
                    src="/assets/images/dummy.png"
                    alt=""
                    title="Home 1"
                    class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="/assets/images/slider_bg-copyright.jpg"
                    data-parallax="10"
                    data-panzoom="d:30000;ss:100;se:120;"
                    data-no-retina
                />
                <h1
                    id="slider-1-slide-1-layer-1"
                    class="rs-layer sc_item_title_style_accent"
                    data-type="text"
                    data-color="rgba(255, 255, 255, 1)"
                    data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:0,0,70px,0;y:m;yo:0,0,1px,0;"
                    data-text="w:normal,nowrap,nowrap,normal;s:84,70,50,40;l:70,70,50,45;fw:600;a:left,left,left,center;"
                    data-dim="w:836px,auto,472px,385px;h:161px,auto,auto,auto;"
                    data-padding="t:10;b:10;"
                    data-frame_0="tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:1500;sp:2800;sR:1500;"
                    data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;sR:4700;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 10; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <span>
                        Firearms Training with<br />
                        Certified Trainers
                    </span>
                </h1>
                <p
                    id="slider-1-slide-1-layer-4"
                    class="rs-layer NotGeneric-SubTitle"
                    data-type="text"
                    data-color="#cfc7be"
                    data-xy="x:l,l,l,c;xo:1px,0,70px,0;y:m;yo:-140px,-120px,-100px,-90px;"
                    data-text="w:nowrap,nowrap,normal,nowrap;s:22,20,20,18;l:30;ls:4px;fw:500;"
                    data-dim="w:auto,auto,312px,auto;"
                    data-rsp_bd="off"
                    data-frame_0="y:100%;tp:600;"
                    data-frame_0_mask="u:t;y:100%;"
                    data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;sR:1000;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;sR:6000;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 9; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    Team of Professional Combat Veterans
                </p>
                <rs-layer
                    id="slider-1-slide-1-layer-11"
                    data-type="text"
                    data-xy="x:l,l,l,c;xo:1px,0,70px,0;y:m;yo:130px,110px,100px,90px;"
                    data-text="l:22;ls:1px;a:inherit;"
                    data-dim="w:303px,303px,303px,165px;h:auto,auto,auto,28px;"
                    data-rsp_bd="off"
                    data-frame_0="y:50px;tp:600;"
                    data-frame_1="tp:600;st:2000;sp:1500;sR:2000;"
                    data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;sR:5500;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 11; font-family: 'Open Sans';"
                >
                    <a href="our-mission/index.html" class="sc_button sc_button_size_large sc_button_with_icon sc_button_icon_right sc_button_hover_slide_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span> <span class="sc_button_text">More about Us</span>
                    </a>
                </rs-layer>
                <rs-layer
                    id="slider-1-slide-1-layer-13"
                    data-type="text"
                    data-xy="x:c;y:b;yo:40px,40px,50px,40px;"
                    data-text="s:14;l:22,22,22,22;a:center;"
                    data-actions="o:click;a:scrollbelow;d:300;sp:300;e:none;"
                    data-basealign="slide"
                    data-rsp_bd="off"
                    data-frame_0="o:1;tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:2000;sp:2000;sR:2000;"
                    data-frame_999="tp:600;st:w;sp:1000;sR:5000;"
                    style="z-index: 12; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <div class="scroll_down">
                        <p>SCROLL DOWN</p>
                    </div>
                </rs-layer>
                <rs-layer
                    id="slider-1-slide-1-layer-14"
                    data-type="text"
                    data-xy="x:c;y:b;yo:80px,80px,90px,80px;"
                    data-text="s:14;l:22;a:center;"
                    data-actions="o:click;a:scrollbelow;d:300;sp:300;e:none;"
                    data-basealign="slide"
                    data-rsp_bd="off"
                    data-frame_0="o:1;tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:2000;sp:2000;sR:2000;"
                    data-frame_999="tp:600;st:w;sp:1000;sR:5000;"
                    data-loop_0="y:10;"
                    data-loop_999="sp:4000;yym:t;yys:t;yyf:t;"
                    style="z-index: 13; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <div class="scroll_down"><span class="icon-bullet-4"></span></div>
                </rs-layer>
                <rs-layer
                    id="slider-1-slide-1-layer-20"
                    data-type="shape"
                    data-rsp_ch="on"
                    data-text="w:normal;s:20,15,12,7;l:0,19,16,10;"
                    data-dim="w:100%;h:100%;"
                    data-basealign="slide"
                    data-frame_0="o:1;"
                    data-frame_999="o:0;st:w;"
                    style="z-index: 8; background-color: rgba(35, 30, 24, 0.82);"
                >
                </rs-layer>
            </rs-slide>
            <rs-slide
                style="position: absolute;"
                data-key="rs-2"
                data-title="slide"
                data-thumb="/assets/images/service-6-copyright-100x50.jpg"
                data-anim="ms:2000;r:0;"
                data-in="o:0;sx:0.6;sy:0.6;e:power4.inOut;"
                data-out="o:0;sx:1.6;sy:1.6;e:power4.inOut;"
                class="scheme_dark"
            >
                <img
                    decoding="async"
                    src="/assets/images/dummy.png"
                    alt=""
                    title="Home 1"
                    class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="/assets/images/service-6-copyright.jpg"
                    data-parallax="10"
                    data-panzoom="d:30000;ss:100;se:120;"
                    data-no-retina
                />
                <h1
                    id="slider-1-slide-2-layer-1"
                    class="rs-layer sc_item_title_style_accent"
                    data-type="text"
                    data-color="rgba(255, 255, 255, 1)"
                    data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:0,0,70px,0;y:m;yo:0,0,1px,0;"
                    data-text="w:normal,nowrap,nowrap,normal;s:84,70,50,40;l:70,70,50,45;fw:600;a:left,left,left,center;"
                    data-dim="w:836px,auto,472px,385px;h:161px,auto,auto,auto;"
                    data-padding="t:10;b:10;"
                    data-frame_0="tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:1500;sp:2800;sR:1500;"
                    data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;sR:4700;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 10; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <span>
                        Firearms Training with<br />
                        Certified Trainers
                    </span>
                </h1>
                <!--

-->
                <p
                    id="slider-1-slide-2-layer-4"
                    class="rs-layer NotGeneric-SubTitle"
                    data-type="text"
                    data-color="#cfc7be"
                    data-xy="x:l,l,l,c;xo:1px,0,70px,0;y:m;yo:-140px,-120px,-100px,-90px;"
                    data-text="w:nowrap,nowrap,normal,nowrap;s:22,20,20,18;l:30;ls:4px;fw:500;"
                    data-dim="w:auto,auto,312px,auto;"
                    data-rsp_bd="off"
                    data-frame_0="y:100%;tp:600;"
                    data-frame_0_mask="u:t;y:100%;"
                    data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;sR:1000;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;sR:6000;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 9; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    Team of Professional Combat Veterans
                </p>
                <!--

-->
                <rs-layer
                    id="slider-1-slide-2-layer-11"
                    data-type="text"
                    data-xy="x:l,l,l,c;xo:1px,0,70px,0;y:m;yo:130px,110px,100px,90px;"
                    data-text="l:22;ls:1px;a:inherit;"
                    data-dim="w:303px,303px,303px,165px;h:auto,auto,auto,28px;"
                    data-rsp_bd="off"
                    data-frame_0="y:50px;tp:600;"
                    data-frame_1="tp:600;st:2000;sp:1500;sR:2000;"
                    data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;sR:5500;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 11; font-family: 'Open Sans';"
                >
                    <a href="our-mission/index.html" class="sc_button sc_button_size_large sc_button_with_icon sc_button_icon_right sc_button_hover_slide_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span> <span class="sc_button_text">More about Us</span>
                    </a>
                </rs-layer>
                <!--

-->
                <rs-layer
                    id="slider-1-slide-2-layer-13"
                    data-type="text"
                    data-xy="x:c;y:b;yo:40px,40px,50px,40px;"
                    data-text="s:14;l:22,22,22,22;a:center;"
                    data-actions="o:click;a:scrollbelow;d:300;sp:300;e:none;"
                    data-basealign="slide"
                    data-rsp_bd="off"
                    data-frame_0="o:1;tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:2000;sp:2000;sR:2000;"
                    data-frame_999="tp:600;st:w;sp:1000;sR:5000;"
                    style="z-index: 12; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <div class="scroll_down">
                        <p>SCROLL DOWN</p>
                    </div>
                </rs-layer>
                <!--

-->
                <rs-layer
                    id="slider-1-slide-2-layer-14"
                    data-type="text"
                    data-xy="x:c;y:b;yo:80px,80px,90px,80px;"
                    data-text="s:14;l:22;a:center;"
                    data-actions="o:click;a:scrollbelow;d:300;sp:300;e:none;"
                    data-basealign="slide"
                    data-rsp_bd="off"
                    data-frame_0="o:1;tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:2000;sp:2000;sR:2000;"
                    data-frame_999="tp:600;st:w;sp:1000;sR:5000;"
                    data-loop_0="y:10;"
                    data-loop_999="sp:4000;yym:t;yys:t;yyf:t;"
                    style="z-index: 13; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <div class="scroll_down"><span class="icon-bullet-4"></span></div>
                </rs-layer>
                <!--

-->
                <rs-layer
                    id="slider-1-slide-2-layer-22"
                    data-type="shape"
                    data-rsp_ch="on"
                    data-text="w:normal;s:20,15,12,7;l:0,19,16,10;"
                    data-dim="w:100%;h:100%;"
                    data-basealign="slide"
                    data-frame_999="o:0;st:w;"
                    style="z-index: 8; background-color: rgba(35, 30, 24, 0.82);"
                >
                </rs-layer>
                <!--
-->
            </rs-slide>
            <rs-slide
                style="position: absolute;"
                data-key="rs-3"
                data-title="slide"
                data-thumb="/assets/images/post-18-copyright-100x50.jpg"
                data-anim="ms:2000;r:0;"
                data-in="o:0;sx:0.6;sy:0.6;e:power4.inOut;"
                data-out="o:0;sx:1.6;sy:1.6;e:power4.inOut;"
                class="scheme_dark"
            >
                <img
                    decoding="async"
                    src="/assets/images/dummy.png"
                    alt=""
                    title="Home 1"
                    class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="/assets/images/post-18-copyright.jpg"
                    data-parallax="10"
                    data-panzoom="d:30000;ss:100;se:120;"
                    data-no-retina
                />
                <h1
                    id="slider-1-slide-3-layer-1"
                    class="rs-layer sc_item_title_style_accent"
                    data-type="text"
                    data-color="rgba(255, 255, 255, 1)"
                    data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:0,0,70px,0;y:m;yo:0,0,1px,0;"
                    data-text="w:normal,nowrap,nowrap,normal;s:84,70,50,40;l:70,70,50,45;fw:600;a:left,left,left,center;"
                    data-dim="w:836px,auto,472px,385px;h:161px,auto,auto,auto;"
                    data-padding="t:10;b:10;"
                    data-frame_0="tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:1500;sp:2800;sR:1500;"
                    data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;sR:4700;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 10; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <span>
                        Firearms Training with<br />
                        Certified Trainers
                    </span>
                </h1>
                <p
                    id="slider-1-slide-3-layer-4"
                    class="rs-layer NotGeneric-SubTitle"
                    data-type="text"
                    data-color="#cfc7be"
                    data-xy="x:l,l,l,c;xo:1px,0,70px,0;y:m;yo:-140px,-120px,-100px,-90px;"
                    data-text="w:nowrap,nowrap,normal,nowrap;s:22,20,20,18;l:30;ls:4px;fw:500;"
                    data-dim="w:auto,auto,312px,auto;"
                    data-rsp_bd="off"
                    data-frame_0="y:100%;tp:600;"
                    data-frame_0_mask="u:t;y:100%;"
                    data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;sR:1000;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;sR:6000;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 9; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    Team of Professional Combat Veterans
                </p>
                <rs-layer
                    id="slider-1-slide-3-layer-11"
                    data-type="text"
                    data-xy="x:l,l,l,c;xo:1px,0,70px,0;y:m;yo:130px,110px,100px,90px;"
                    data-text="l:22;ls:1px;a:inherit;"
                    data-dim="w:303px,303px,303px,165px;h:auto,auto,auto,28px;"
                    data-rsp_bd="off"
                    data-frame_0="y:50px;tp:600;"
                    data-frame_1="tp:600;st:2000;sp:1500;sR:2000;"
                    data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;sR:5500;"
                    data-frame_999_mask="u:t;"
                    style="z-index: 11; font-family: 'Open Sans';"
                >
                    <a href="our-mission/index.html" class="sc_button sc_button_size_large sc_button_with_icon sc_button_icon_right sc_button_hover_slide_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span> <span class="sc_button_text">More about Us</span>
                    </a>
                </rs-layer>
                <rs-layer
                    id="slider-1-slide-3-layer-13"
                    data-type="text"
                    data-xy="x:c;y:b;yo:40px,40px,50px,40px;"
                    data-text="s:14;l:22,22,22,22;a:center;"
                    data-actions="o:click;a:scrollbelow;d:300;sp:300;e:none;"
                    data-basealign="slide"
                    data-rsp_bd="off"
                    data-frame_0="o:1;tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:2000;sp:2000;sR:2000;"
                    data-frame_999="tp:600;st:w;sp:1000;sR:5000;"
                    style="z-index: 12; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <div class="scroll_down">
                        <p>SCROLL DOWN</p>
                    </div>
                </rs-layer>
                <rs-layer
                    id="slider-1-slide-3-layer-14"
                    data-type="text"
                    data-xy="x:c;y:b;yo:80px,80px,90px,80px;"
                    data-text="s:14;l:22;a:center;"
                    data-actions="o:click;a:scrollbelow;d:300;sp:300;e:none;"
                    data-basealign="slide"
                    data-rsp_bd="off"
                    data-frame_0="o:1;tp:600;"
                    data-frame_1="tp:600;e:power4.inOut;st:2000;sp:2000;sR:2000;"
                    data-frame_999="tp:600;st:w;sp:1000;sR:5000;"
                    data-loop_0="y:10;"
                    data-loop_999="sp:4000;yym:t;yys:t;yyf:t;"
                    style="z-index: 13; font-family: 'Barlow Condensed'; font-style: italic;"
                >
                    <div class="scroll_down"><span class="icon-bullet-4"></span></div>
                </rs-layer>

                <rs-layer
                    id="slider-1-slide-3-layer-24"
                    data-type="shape"
                    data-rsp_ch="on"
                    data-text="w:normal;s:20,15,12,7;l:0,19,16,10;"
                    data-dim="w:100%;h:100%;"
                    data-basealign="slide"
                    data-frame_999="o:0;st:w;"
                    style="z-index: 8; background-color: rgba(30, 35, 24, 0.82);"
                >
                </rs-layer>
            </rs-slide>
        </rs-slides>
        <rs-static-layers class="rs-stl-visible">
        </rs-static-layers>
    </rs-module>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->