   <!--==============================
        All Js File
============================== -->
<!-- Jquery -->
<script src="assets/js/vendor/jquery.min.js"></script>
<!-- Slick Slider -->
<script src="assets/js/slick.min.js"></script>
<!-- <script src="assets/js/app.min.js"></script> -->
<!-- Bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Filter -->
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- Magnific Popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Jquery UI -->
<script src="assets/js/jquery-ui.min.js"></script>
<!-- WOW JS (Animation JS) -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom Carousel -->
<script src="assets/js/vscustom-carousel.min.js"></script>
<!-- Form Js -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main Js File -->
<script src="assets/js/main.js"></script>
