<div class="vc_empty_space sc_height_huge" style="height: 32px;"><span class="vc_empty_space_inner"></span></div>
<div id="sc_title_1043191585" class="sc_title sc_title_accent">
    <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_accent"><span class="sc_item_title_text">Major tacticool services</span></h2>
    <span class="sc_item_subtitle sc_title_subtitle sc_align_center sc_item_subtitle_below sc_item_title_style_accent">
        We teach you the most important tactical skills for keeping and using handguns, rifles, and shotguns. We work with certified trainers only and guarantee a comfortable practice
        environment.
    </span>
</div>
<!-- /.sc_title -->
<div class="vc_empty_space" style="height: 15px;"><span class="vc_empty_space_inner"></span></div>
<div id="sc_icons_1081334762" class="sc_icons sc_icons_default sc_icons_size_small sc_align_center">
    <div class="sc_icons_columns_wrap sc_item_columns trx_addons_columns_wrap columns_padding_bottom">
        <div class="trx_addons_column-1_3">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-bullet-3"><span class="sc_icon_type_ icon-bullet-3"></span></div>
                <div class="sc_icons_item_details">
                    <h5 class="sc_icons_title">
                        <a href="shop/index.html"> <span>Ammo Retail</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>Please visit our store for some basic </span><span>or unique weapon.</span></div>
                    <a href="shop/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="trx_addons_column-1_3">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-bulletproof-vest-2"><span class="sc_icon_type_ icon-bulletproof-vest-2"></span></div>
                <div class="sc_icons_item_details">
                    <h5 class="sc_icons_title">
                        <a href="shop/index.html"> <span>Protective Ammunition</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>We make sure that you have all the </span><span>necessary protection.</span></div>
                    <a href="shop/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="trx_addons_column-1_3">
            <div class="sc_icons_item">
                <div class="sc_icons_icon sc_icon_type_ icon-target-2"><span class="sc_icon_type_ icon-target-2"></span></div>
                <div class="sc_icons_item_details">
                    <h5 class="sc_icons_title">
                        <a href="our-services/index.html"> <span>Weapon Service</span></a>
                    </h5>
                    <div class="sc_icons_item_description"><span>Gun repair specialists give</span><span>your weapon a new life.</span></div>
                    <a href="our-services/index.html" class="more-link sc_button sc_button_simple sc_button_size_normal sc_button_with_icon sc_button_icon_left">
                        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text">Read more</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.sc_icons -->
<div class="vc_empty_space" style="height: 1.8em;"><span class="vc_empty_space_inner"></span></div>
<div id="sc_button_1619342890" class="sc_item_button sc_button_wrap sc_align_center">
    <a href="our-services/index.html" class="sc_button sc_button_default sc_button_size_normal sc_button_with_icon sc_button_icon_right">
        <span class="sc_button_icon"><span class="icon-target-3"></span></span><span class="sc_button_text"><span class="sc_button_title">View all services</span></span>
        <!-- /.sc_button_text -->
    </a>
    <!-- /.sc_button -->
</div>
<!-- /.sc_item_button -->
<div class="vc_empty_space sc_height_huge" style="height: 32px;"><span class="vc_empty_space_inner"></span></div>