/* ATTENTION! This file was generated automatically! Don&#039;t change it!!!
----------------------------------------------------------------------- */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
select,
.select_container,
textarea,
.widget_search .search-field,
.woocommerce.widget_product_search .search_field,
.widget_display_search #bbp_search,
#bbpress-forums #bbp-search-form #bbp_search,
.comments_wrap .comments_field input,
.comments_wrap .comments_field textarea,
.select2-container.select2-container--default span.select2-choice,
.select2-container.select2-container--default span.select2-selection,
.sidebar .sidebar_control,
.sidebar .sidebar_control:after,
.sc_edd_details .downloads_page_tags .downloads_page_data>a,
.widget_product_tag_cloud a,
.widget_tag_cloud a,
.wp-block-tag-cloud a,
.post_meta_item.post_tags a,
.post_meta_item.post_categories a,
body.wpb-js-composer .vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab>a {
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

button:not(.components-button),
input[type="button"],
input[type="reset"],
.theme_button,
.gallery_preview_show .post_readmore,
input[type="submit"],
.sc_button,
.sc_form button,
.sc_matches_item_pair .sc_matches_item_player .post_featured>img,
#btn-buy {
	-webkit-border-radius: calc(4px + 2px);
	-ms-border-radius: calc(4px + 2px);
	border-radius: calc(4px + 2px)
}

.select_container:before {
	-webkit-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0
}

textarea.wp-editor-area {
	-webkit-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px
}

.widget li a>img,
.widget li span>img {
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.body_style_boxed .page_wrap {
	width: 1290px
}

.content_wrap,
.content_container {
	width: 1170px
}

body.body_style_wide:not(.expand_content) [class*="content_wrap"]>.content,
body.body_style_boxed:not(.expand_content) [class*="content_wrap"]>.content {
	width: 770px
}

[class*="content_wrap"]>.sidebar {
	width: 370px
}

.body_style_fullwide.sidebar_right [class*="content_wrap"]>.content,
.body_style_fullscreen.sidebar_right [class*="content_wrap"]>.content {
	padding-right: 400px
}

.body_style_fullwide.sidebar_right [class*="content_wrap"]>.sidebar,
.body_style_fullscreen.sidebar_right [class*="content_wrap"]>.sidebar {
	margin-left: -370px
}

.body_style_fullwide.sidebar_left [class*="content_wrap"]>.content,
.body_style_fullscreen.sidebar_left [class*="content_wrap"]>.content {
	padding-left: 400px
}

.body_style_fullwide.sidebar_left [class*="content_wrap"]>.sidebar,
.body_style_fullscreen.sidebar_left [class*="content_wrap"]>.sidebar {
	margin-right: -370px
}

.trx_addons_hover_content .trx_addons_hover_link,
.trx_addons_hover_content .trx_addons_hover_links a,
.properties_search_form .properties_search_basic,
.cars_search_form .cars_search_basic,
.sc_promo_modern .sc_promo_link2,
.sc_slider_controls .slider_controls_wrap>a,
.sc_slider_controls.slider_pagination_style_progress .sc_slider_controls_wrap,
.sc_slider_controls .slider_progress_bar,
.slider_container.slider_controls_side .slider_controls_wrap>a,
.slider_outer_controls_side .slider_controls_wrap>a,
.slider_outer_controls_outside .slider_controls_wrap>a,
.slider_outer_controls_top .slider_controls_wrap>a,
.slider_outer_controls_bottom .slider_controls_wrap>a {
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

.trx_addons_scroll_to_top,
.socials_wrap .social_item .social_icon,
.sc_matches_other .sc_matches_item_logo1 img,
.sc_matches_other .sc_matches_item_logo2 img,
.sc_points_table .sc_points_table_logo img {
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.sc_content_width_1_1,
.sc_inner_width_1_1>.elementor-column-wrap {
	width: 1170px
}

.sc_content_width_1_2,
.sc_inner_width_1_2>.elementor-column-wrap {
	width: 585px
}

.sc_content_width_1_3,
.sc_inner_width_1_3>.elementor-column-wrap {
	width: 390px
}

.sc_content_width_2_3,
.sc_inner_width_2_3>.elementor-column-wrap {
	width: 780px
}

.sc_content_width_1_4,
.sc_inner_width_1_4>.elementor-column-wrap {
	width: 292.5px
}

.sc_content_width_3_4,
.sc_inner_width_3_4>.elementor-column-wrap {
	width: 877.5px
}

.editor-block-list__block,
.editor-post-title__block,
.editor-default-block-appender {
	max-width: 770px !important
}

body.sidebar_position_hide.expand_content .editor-block-list__block,
body.sidebar_position_hide.expand_content .editor-post-title__block,
body.sidebar_position_hide.expand_content .editor-default-block-appender {
	max-width: 1170px !important
}

body.single-cpt_layouts .trx-addons-layout--single-preview {
	max-width: 1170px !important
}

.woocommerce .button,
.woocommerce-page .button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button.woocommerce #respond input#submit,
.woocommerce input[type="button"],
.woocommerce-page input[type="button"],
.woocommerce input[type="submit"],
.woocommerce-page input[type="submit"],
.woocommerce .woocommerce-message .button,
.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond p.form-submit input[type="submit"],
.woocommerce-page #review_form #respond p.form-submit input[type="submit"],
.woocommerce table.my_account_orders .order-actions .button,
.yith-woocompare-widget a.clear-all,
.single-product div.product .woocommerce-tabs .wc-tabs li a,
.widget.WOOCS_SELECTOR .woocommerce-currency-switcher-form .chosen-container-single .chosen-single {
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px
}

.woocommerce div.product form.cart div.quantity span.q_inc,
.woocommerce-page div.product form.cart div.quantity span.q_inc,
.woocommerce .shop_table.cart div.quantity span.q_inc,
.woocommerce-page .shop_table.cart div.quantity span.q_inc {
	-webkit-border-radius: 0 4px 0 0;
	-ms-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0
}

.woocommerce div.product form.cart div.quantity span.q_dec,
.woocommerce-page div.product form.cart div.quantity span.q_dec,
.woocommerce .shop_table.cart div.quantity span.q_dec,
.woocommerce-page .shop_table.cart div.quantity span.q_dec {
	-webkit-border-radius: 0 0 4px 0;
	-ms-border-radius: 0 0 4px 0;
	border-radius: 0 0 4px 0
}

.woocommerce ul.products li.product .yith_buttons_wrap,
.woocommerce ul.products li.product .yith_buttons_wrap a>.tooltip {
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

form.mc4wp-form .mc4wp-form-fields input[type="email"],
form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form button,
#tribe-bar-form a,
#tribe-events .tribe-events-button,
#tribe-bar-views .tribe-bar-views-list,
.tribe-events-button,
.tribe-events-cal-links a,
#tribe-events-footer~a.tribe-events-ical.tribe-events-button,
.tribe-events-sub-nav li a {
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px
}

body {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5em;
	text-decoration: none;
	text-transform: none;
	letter-spacing: -0.12px
}

p,
ul,
ol,
dl,
blockquote,
address {
	margin-top: 0em;
	margin-bottom: 1.9em
}

h1,
.front_page_section_caption {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 3.05rem;
	font-weight: 700;
	font-style: italic;
	line-height: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-top: 1.65em;
	margin-bottom: 0.69em
}

h2 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 2.35rem;
	font-weight: 700;
	font-style: italic;
	line-height: 1.05em;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 1.35em;
	margin-bottom: 0.89em
}

h3 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	font-style: italic;
	line-height: 1.05em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	margin-top: 1.6em;
	margin-bottom: 0.84em
}

h4 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.47rem;
	font-weight: 600;
	font-style: italic;
	line-height: 1.05em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.55px;
	margin-top: 2em;
	margin-bottom: 0.8em
}

h5 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.29rem;
	font-weight: 600;
	font-style: italic;
	line-height: 1em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.91px;
	margin-top: 2.3em;
	margin-bottom: 1.4em
}

.widget.widget_block h2 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.29rem;
	font-weight: 600;
	font-style: italic;
	line-height: 1em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.91px
}

h6 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.05rem;
	font-weight: 500;
	font-style: italic;
	line-height: 1.05em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.45px;
	margin-top: 2em;
	margin-bottom: 1.2em
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
textarea,
textarea.wp-editor-area,
.select_container,
select,
.select_container select,
.select2-container {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0px
}

form button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.theme_button,
.sc_layouts_row .sc_button,
.gallery_preview_show .post_readmore,
div.esg-filter-wrapper .esg-filterbutton>span,
.mptt-navigation-tabs li a,
.tacticool_tabs .tacticool_tabs_titles li a {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.4px
}

.top_panel .slider_engine_revo .slide_title {
	font-family: "Barlow Condensed", sans-serif
}

blockquote,
mark,
ins,
.logo_text,
.post_price.price,
.theme_scroll_down,
.logo_slogan,
fieldset legend,
figure figcaption,
.wp-caption .wp-caption-text,
.wp-caption .wp-caption-dd,
.wp-caption-overlay .wp-caption .wp-caption-text,
.wp-caption-overlay .wp-caption .wp-caption-dd,
table th,
table tr:first-child th,
.sc_table table tr:first-child th,
.breadcrumbs,
.widget_area .post_item .post_info,
aside .post_item .post_info,
ul#recentcomments .comment-author-link,
.sc_edd_details .downloads_page_tags .downloads_page_data>a,
.widget_product_tag_cloud a,
.widget_tag_cloud a,
.wp-block-tag-cloud a,
.widget_calendar caption,
.widget_calendar th,
.post_meta_item.post_categories a,
body form.mc4wp-form .mc4wp-form-fields input[type="email"],
.format-audio .post_featured .post_audio_author,
.trx_addons_audio_player .audio_author,
.sc_layouts_blog_item_featured .post_featured .post_audio_author,
.trx_addons_audio_player .audio_author+.audio_caption,
.post-date,
.rss-date,
.post_date,
.post_meta_item,
.post_meta .vc_inline-link,
.comments_list_wrap .comment_date,
.comments_list_wrap .comment_time,
.comments_list_wrap .comment_counters,
.post_item_single .post_content .post_meta,
.author_bio .author_link,
.comments_list_wrap .comment_posted,
.comments_list_wrap .comment_reply,
.esg-filters div.esg-navigationbutton,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span.current,
.page_links>span:not(.page_links_title),
.page_links>a,
.comments_pagination .page-numbers,
.nav-links .page-numbers,
.menu_footer_nav_area>ul>li>a,
div.ui-widget button,
.comments_wrap .form-submit input[type="submit"],
.sc_form_form button {
	font-family: "Barlow Condensed", sans-serif
}

.post_meta {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 0.9286em;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5em;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0px;
	margin-top: 0.4em
}

.search_wrap .search_results .post_meta_item,
body .mejs-container * {
	font-family: "Roboto Condensed", sans-serif
}

.logo_text {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.8em;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px
}

.logo_footer_text {
	font-family: "Barlow Condensed", sans-serif
}

.menu_main_nav_area>ul,
.sc_layouts_row .sc_layouts_menu_nav,
.sc_layouts_menu_dir_vertical .sc_layouts_menu_nav {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 16px;
	line-height: normal
}

.menu_main_nav>li>a,
.sc_layouts_row .sc_layouts_menu_nav>li>a {
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px
}

.menu_main_nav>li[class*="current-menu-"]>a .sc_layouts_menu_item_description,
.sc_layouts_menu_nav>li[class*="current-menu-"]>a .sc_layouts_menu_item_description {
	font-weight: 600
}

.menu_main_nav>li>ul,
.sc_layouts_row .sc_layouts_menu_nav>li>ul,
.sc_layouts_row:not(.sc_layouts_row_type_narrow) .sc_layouts_menu_popup .sc_layouts_menu_nav {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	line-height: 1.5em
}

.menu_main_nav>li ul>li>a,
.sc_layouts_row .sc_layouts_menu_nav>li ul>li>a,
.sc_layouts_row:not(.sc_layouts_row_type_narrow) .sc_layouts_menu_popup .sc_layouts_menu_nav>li>a {
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0px
}

.menu_mobile .menu_mobile_nav_area>ul {
	font-family: "Barlow Condensed", sans-serif
}

.menu_mobile .menu_mobile_nav_area>ul>li ul {
	font-family: "Roboto Condensed", sans-serif
}

.sc_skills_pie.sc_skills_compact_off .sc_skills_item_title,
.sc_dishes_compact .sc_services_item_title,
.sc_services_iconed .sc_services_item_title {
	font-family: "Roboto Condensed", sans-serif
}

.toc_menu_item .toc_menu_description,
.sc_recent_news .post_item .post_footer .post_meta .post_meta_item,
.sc_item_subtitle,
.sc_icons_item_title,
.sc_price_item_title,
.sc_price_item_price,
.sc_courses_default .sc_courses_item_price,
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_links a,
.sc_events_classic .sc_events_item_price,
.sc_events_classic .trx_addons_hover_content .trx_addons_hover_links a,
.sc_promo_modern .sc_promo_link2 span+span,
.sc_skills_counter .sc_skills_total,
.sc_skills_pie.sc_skills_compact_off .sc_skills_total,
.slider_container .slide_info.slide_info_large .slide_title,
.slider_style_modern .slider_controls_label span+span,
.slider_pagination_wrap,
.sc_slider_controller_info,
.trx_addons_dropcap,
.sc_skills_counter .sc_skills_item_title,
.sc_skills .sc_skills_total,
.sc_testimonials_item_author_title,
.sc_action_item_description,
.sc_testimonials_item_content,
.sc_team .sc_team_item_subtitle,
.trx_addons_list_parameters>li,
.sc_courses_default .sc_courses_item_categories,
.sc_services .sc_services_item_subtitle,
.sc_icons_sub_title,
.sc_icons_icon-features .sc_icons_item_description,
.widget_contacts .contacts_info span,
.widget_contacts .contacts_info>div>a,
.widget_contacts .contacts_info>a,
.services_page_tabs.trx_addons_tabs .trx_addons_tabs_titles li>a,
.search_style_fullscreen.search_opened .search_field,
.courses_single .courses_page_price+.courses_page_meta {
	font-family: "Barlow Condensed", sans-serif
}

.sc_recent_news .post_item .post_meta,
.sc_price_item_description,
.sc_price_item_details,
.sc_courses_default .sc_courses_item_date,
.courses_single .courses_page_meta,
.sc_events_classic .sc_events_item_date,
.sc_promo_modern .sc_promo_link2 span,
.slider_style_modern .slider_controls_label span,
.slider_titles_outside_wrap .slide_cats,
.slider_titles_outside_wrap .slide_subtitle,
.sc_dishes .sc_dishes_item_subtitle,
.team_member_page .team_member_brief_info_text {
	font-family: "Roboto Condensed", sans-serif
}

.sc_button,
.sc_button_simple,
.sc_form button,
#btn-buy {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.4px
}

.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn-border {
	font-family: "Barlow Condensed", sans-serif
}

.sc_promo_modern .sc_promo_link2 {
	font-family: "Barlow Condensed", sans-serif
}

body.edit-post-visual-editor {
	font-family: "Roboto Condensed", sans-serif !important;
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5em;
	text-decoration: none;
	text-transform: none;
	letter-spacing: -0.12px
}

.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label,
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label .vc_label_units,
body.wpb-js-composer .vc_tta.vc_general .vc_tta-tab>a,
.vc_tta.vc_tta-accordion .vc_tta-panel-title .vc_tta-title-text {
	font-family: "Barlow Condensed", sans-serif
}

.woocommerce .checkout table.shop_table .product-name .variation,
.woocommerce .shop_table.order_details td.product-name .variation,
.woocommerce.widget_shopping_cart .total,
.woocommerce .widget_shopping_cart .total {
	font-family: "Roboto Condensed", sans-serif
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce ul.products li.product .post_header,
.woocommerce-page ul.products li.product .post_header,
.single-product div.product .woocommerce-tabs .wc-tabs li a,
.woocommerce .shop_table th,
.woocommerce span.onsale,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .summary .stock,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong,
.woocommerce table.cart td.product-name a,
.woocommerce-page table.cart td.product-name a,
.woocommerce #content table.cart td.product-name a,
.woocommerce-page #content table.cart td.product-name a,
.woocommerce .checkout table.shop_table .product-name,
.woocommerce .shop_table.order_details td.product-name,
.woocommerce .order_details li strong,
.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content .woocommerce-Address-title a,
.widget_shopping_cart_content,
.woocommerce ul.products li.product .post_header .post_tags,
aside.woocommerce .product-title,
aside.woocommerce .mini_cart_item>a:not(.remove),
.woocommerce div.product form.cart div.quantity .screen-reader-text,
.woocommerce div.product .product_meta,
.woocommerce #review_form #respond #reply-title,
.woocommerce div.product form.cart .variations label,
.woocommerce div.product p.price ins,
.woocommerce ul.products li.product .outofstock_label {
	font-family: "Barlow Condensed", sans-serif
}

.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button,
.woocommerce .woocommerce-message .button,
.woocommerce #review_form #respond p.form-submit input[type="submit"],
.woocommerce-page #review_form #respond p.form-submit input[type="submit"],
.woocommerce table.my_account_orders .order-actions .button,
.woocommerce .button,
.woocommerce-page .button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button.woocommerce #respond input#submit,
.woocommerce input[type="button"],
.woocommerce-page input[type="button"],
.woocommerce input[type="submit"],
.woocommerce-page input[type="submit"] {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.4px
}

.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0px
}

.woocommerce div.product form.cart .reset_variations,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta time {
	font-family: "Roboto Condensed", sans-serif
}

form.mc4wp-form .mc4wp-form-fields input[type="email"] {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0px
}

form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.4px
}

.tribe-events-list .tribe-events-list-event-title {
	font-family: "Barlow Condensed", sans-serif
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__today-button,
.tribe-events .tribe-events-c-view-selector__list-item-text,
#tribe-events .tribe-events-button,
.tribe-events-button,
.tribe-events-cal-links a,
.tribe-events-sub-nav li a {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.4px
}

#tribe-bar-form button,
#tribe-bar-form a,
.tribe-events-read-more {
	font-family: "Barlow Condensed", sans-serif;
	letter-spacing: 1.4px
}

.tribe-events-list .tribe-events-list-separator-month,
.tribe-events-calendar thead th,
.tribe-events-schedule,
.tribe-events-schedule h2,
.sc_events_detailed .sc_events_item_title,
.sc_events_detailed span,
#tribe-bar-form input[type="text"] {
	font-family: "Barlow Condensed", sans-serif
}

.tribe-common .tribe-common-b2 {
	font-family: "Roboto Condensed", sans-serif
}

#tribe-bar-form input,
#tribe-events-content.tribe-events-month,
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title,
#tribe-mobile-container .type-tribe_events,
.tribe-events-list-widget ol li .tribe-event-title {
	font-family: "Roboto Condensed", sans-serif
}

.tribe-events-loop .tribe-event-schedule-details,
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt,
#tribe-mobile-container .type-tribe_events .tribe-event-date-start {
	font-family: "Roboto Condensed", sans-serif
}

.tribe-common .tribe-common-b3.tribe-events-calendar-month__calendar-event-tooltip-description,
.tribe-events-content,
.tribe-events .tribe-events-c-top-bar__datepicker-button,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn,
#tribe-bar-form button,
#tribe-bar-form a,
.tribe-events-read-more {
	font-family: "Roboto Condensed", sans-serif
}

.tribe-common p {
	font-size: 1rem;
	line-height: 1.5em
}

.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.8rem;
	line-height: 1.05em
}

.tribe-common .tribe-common-h7 {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.05rem;
	line-height: 1.05em
}

.tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events .datepicker .datepicker-switch,
.tribe-events .datepicker .day,
.tribe-events .datepicker .dow,
.tribe-events .datepicker .month,
.tribe-events .datepicker .year,
.tribe-common .tribe-common-b3,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8 {
	font-family: "Barlow Condensed", sans-serif
}
.footer-logo,{
	width: 75% !important;
	padding-top: 50%
}
.mobile-logo{
	width: 75% !important;
}

.vc_custom_1549533673493 {
	padding-left: 3.2em !important;
}
.vc_custom_1549547666558 {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
	padding-left: 1em !important;
	background-color: #f4f2ed !important;
}
.vc_custom_1546958102473 {
	background: #f7f7f7 url(assets/images/bread_crump_bg-copyright.jpg) !important;
	background-position: bottom center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1547504123194 {
	background-image: url(assets/images/header-bg.png) !important;
	background-position: top left !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1554198621272 {
	margin-left: 1.3em !important;
}
.vc_custom_1549547671474 {
	background-size: cover !important;
}
.vc_custom_1554458960912 {
	padding-top: 1.8em !important;
	padding-bottom: 1.9em !important;
	background-color: #373736 !important;
}
.vc_custom_1554459032508 {
	padding-top: 1.8em !important;
	padding-bottom: 1.9em !important;
	background-color: #373736 !important;
}
.vc_custom_1547044840472 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: #000000 !important;
	background-position: bottom center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1547043415219 {
	border-top-width: 1px !important;
	padding-top: 1.4em !important;
	padding-bottom: 2em !important;
	border-top-color: rgba(178, 178, 178, 0.299) !important;
	border-top-style: solid !important;
}
.vc_custom_1547047845880 {
	margin-top: -25px !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}
.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
	float: left;
}
.vc_custom_1548161166248 {
	background-image: url(assets/images/our_mission_action-copyright.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1525792406229 {
	background-image: url(assets/images/bg_counters.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1548155452861 {
	padding-right: 2em !important;
}
.vc_custom_1548161042653 {
	background-size: cover !important;
}
